{% extends "base.html" %}

{% block page_title %}
<!-- No changes needed here; this block can be left out if you're not adding anything specific -->
{% endblock page_title %}

{% block page_content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid mb-3" alt="{{ post.title }}">
            {% endif %}
            <h2 class="mb-3">{{ post.title }}</h2>
            <p class="text-muted">
                <small>
                    {{ post.created_on.date }} | Categories:
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}" class="badge badge-secondary">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </small>
            </p>
            <div class="post-content" style="font-size:1.1em; line-height: 1.6;">
                {{ post.body | linebreaks }}
            </div>
            <!-- ... rest of your content and comments ... -->
        </div>
    </div>
</div>
{% endblock page_content %}